:root{
    --basic-black: #000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-100: #D9D9D9;
    --basic-half-200: #EBEBEB;
    --basic-half-300: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow:  #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark:#F0C52E;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    background-color: var(--basic-white);
    color: var(--basic-black);
    transform: translateY();
}

a{
    text-decoration: none;
}
.navigation-wrapper{
    width: 1160px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
}

.conteiner{
    width: 1160px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}
/*ГЛАВНАЯ*/

/*main-header*/
.header-logo img{
   margin-top: -32px;
}

.main-navigation{
    background-color: var(--special-yellow);
    padding: 50px 60px;
    padding-top: 0;
}

.header-logo:hover{
    opacity: 0.6;
}

.header-logo:active{
    opacity: 0.3;
}

.form-search{
    width: 540px;
}

.user-link{
    display: flex;
}

.compare-link{
    margin-left: auto;
}

.basket-link{
    margin-left: 40px;
}

.user-link a{
    color: var(--basic-black);
    line-height: 20px;
}

.user-link a:hover{
    opacity: 0.6;
}

.user-link a:active{
    opacity: 0.3;
}

.navigation-list,
.catalog-list,
.login-list{
    list-style: none;
    padding: 0; 
    margin: 0;
}

.navigation-list{
    display: flex;
    justify-content: space-between;
}

.navigation-item:nth-child(1){
    width: 540px;
}

.navigation-item:nth-child(3){
   margin-right: auto;
   margin-left: 40px;
}

.navigation-item a:hover{
    opacity: 0.6;
}

.navigation-item a:active{
    opacity: 0.3;
}

.navigation-list{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.catalog-list{
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    display: none;
}

.catalog-item a:hover{
    opacity: 0.6;
}

.catalog-item a:active{
    opacity: 0.3;
}

.navigation-item a{
    color: var(--basic-black);
}

/*Демонстрация товаров*/
.product{
    margin-top: -16px;
}
.product-button-list{
    list-style: none;
    padding: 0;
    position: absolute;
}

.product-item:nth-child(2),
.product-item:nth-child(3){
    display: none;
}


.product-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 60px;
}

.product-list{
    list-style: none;
    padding: 0;
    position: relative;
    background-image: linear-gradient(  #F7E296 117px, #fff 30px);
}

.product-item--header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.button{
    display: block;
    background-color: var(--special-yellow-dark);
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    border: none;
}

.product-specification-item dt{
    font-size: 36px;
    line-height: 42px;
}

.product-specification-item dd{
    font-size: 13px;
    line-height: 15px;
    margin: 0;
}

/*Категории товаров*/

.product-category-list{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.product-category-link{ 
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.product-img{
    width: 160px;
    height: 160px;
    background-color: var(--special-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-category-list li{
    width: 160px;
}

.product-category-link:hover .product-img{
    background-color: var(--special-yellow-dark);
}

.product-category-link:active, 
.product-category-link:active .product-img{
    opacity: 0.6;
}

/*Преимущества*/
.advantages{
    background-color: var(--basic-grey-light);
}

.advantages-conteiner{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.advantages-button-list,
.advantages-slid-list{
    list-style: none;
    padding: 0;
}


.advantages-button--active{
    background-color: var(--basic-black);
    color: var(--special-yellow);
}

.advantages-slid-item:nth-child(2),
.advantages-slid-item:nth-child(3){
    display: none;
}

.advantages-slid-item h3{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.advantages-slid-item p{
    font-size: 15px;
    line-height: 28px;
}

/*Партнеры*/
.partners-list{
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.partners-link{
    opacity: 0.3;
}

.partners-link:hover{
    opacity: 1;
}

/*О нас*/
.contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.about-header p{
    font-size: 15px;
    line-height: 28px;
}

.about-list{
    list-style: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

/*Контакты*/

.contacts-header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.contacts-text{
    font-size: 15px;
    line-height: 28px;
}

/*Повдвал*/

.main-footer{
    background-color: var(--basic-dark);
}

.footer-user-link{
    display: flex;
    justify-content: space-between;
}


.footer-logo{
    width: 675px;
}
.footer-logo:hover{
    opacity: 0.7;
}

.footer-logo:active{
    opacity: 0.3;
}

.footer-user-link ul{
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: start;
}

.footer-user-link a:not(.footer-logo){
    color: var(--basic-white);
    opacity: 0.7;
}

.footer-user-link a:hover:not(.footer-logo){
    opacity: 1;
}

.footer-user-link a:active{
    opacity: 0.3;
}

.footer-row-one{
    display: flex;
    justify-content: space-between;
}

.footer-row-one p{
    color: var(--basic-white);
}

.footer-row-one-info{
    list-style: none;
    padding: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer-row-one-info a{
    color: var(--basic-white);
}

.footer-row-one-info a:hover{
    opacity: 0.7;
}

.footer-row-one-info a:active{
    opacity: 0.3;
}

.contacts-tel{
    color: var(--basic-white);
}

.footer-social{
    display: flex;
    align-items: center;
}

.footer-social-list{
    list-style: none;
    padding: 0;
    margin-left:  auto;
}

.logo-academy{
    margin-left: 480px;
}

.logo-academy:hover{
    opacity: 0.7;
}

.logo-academy:active{
    opacity: 0.3;
}


/*КАТАЛОГ*/

/*Главная*/

.login-link-out{
    opacity: 0.3;
}

.navigation-catalogue{
    list-style: none;
    padding: 0;
}

.navigation-catalogue a{
    opacity: 0.4;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.navigation-catalogue a:hover{
    opacity: 0.7;
}

.navigation-catalogue a:active{
    opacity: 0.1;
}

/*Каталог-сортировка*/

.catalogue-filtr h3{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.catalogue-sort{
    list-style: none;
    padding: 0;
    font-weight: 400;
}

.catalogue-sort-list{
    list-style: none;
    padding: 0;
}

.catalogue-sort a{
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
    color: var(--basic-black);
}

.catalogue-sort a:hover{
    opacity: 0.6;
}

.catalogue-sort a:active{
    opacity: 1;
}

.catalogue-list{
    list-style: none;
    padding: 0;
}

.catalogue-item-info a{
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.catalogue-item-info p{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.catalogue-item-popup a:nth-child(2){
    color: var(--basic-black);
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

/*Хлебные крошки*/
.pagination{
    background-color: var( --basic-half-200);
}

.pagination a{
    color: var(--basic-black);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-item--active{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-item a{
    opacity: 0.3;
}

.pagination-list{
    list-style: none;
    padding: 0;
}

.pagination-back:hover{
    background-color: var( --basic-half-100);
}

.pagination-back:active{
    opacity: 0.3;
}

.pagination-next:hover{
    background-color: var( --basic-half-100);
}

.pagination-next:active{
    opacity: 0.3;
}





