:root{
    --basic-black: #000;
    --basic-dark: #363636;
    --basic-silver-white: #EAEAEA;
    --basic-white: #ffffff;
    --basic-grey-100: #dcdcdc;
    --basic-grey-500: #464646;
    --basic-half-100: #D9D9D9;
    --basic-half-200: #EBEBEB;
    --basic-half-300: #7E7E7E;
    --basic-half-400: #C4C4C4;
    --dark-white:#F2F2F2;
    --basic-grey-light: #E5E5E5;
    --special-yellow:  #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark:#F0C52E;
    --special-yellow-dark-100:#FFC600;
    --crimson:#F6DADA;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Extrabold'), local('Gilroy Extrabold'),
        url('../fonts/gilroyextrabold.woff2') format('woff2'),
        url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Light'), local('Gilroy Light'),
        url('../fonts/gilroylight.woff2') format('woff2'),
        url('../fonts/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

body{
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.page {
    height: 100%;
}
  
.page-body {
    min-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
    -ms-grid-rows: min-content 1fr min-content;
    grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
    grid-template-rows: min-content 1fr min-content;
    -ms-flex-line-pack: start;
        align-content: start;
}

a{
    text-decoration: none;
}

.container{
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

.button{
    z-index: 0;
    color: var(--basic-black);
    font-size: 18px;
    line-height: 22px;
    border: none;
    font-family: 'Gilroy' 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    position: relative;
    padding: 9px 0px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    display: block;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.button::before{
    z-index: -1;
    position: absolute;
    content: '';
    width: 100%;
    height: calc(100% - 33px);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    background-color: var(--special-yellow-dark);
    left: 0;
    top: 17px;
    bottom: 17px;
}

.button:hover::before,
.button:focus::before{
    top: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/*ГЛАВНАЯ*/

/*main-header*/
.main-header{
    margin-top: 40px;
}
.header-logo{
   width: 165px;
   -webkit-transform: translateY(-20px);
       -ms-transform: translateY(-20px);
           transform: translateY(-20px);
   display: block;
}

.header-logo img{
    display: block;
 }

.main-navigation{
    position: relative;
    background-color: var(--special-yellow);
    padding: 50px 60px;
    padding-top: 0;
}

.header-logo:hover,
.header-logo:focus{
    opacity: 0.6;
}

.header-logo:active{
    opacity: 0.3;
}

.form-search{
    position: relative;
    width: 440px;
    margin-right:  100px;
    padding-left: 37px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.form-search::before{
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('../img/icon-search.svg');
    left: 0;
    top: 5px;
    z-index: 1;
}

.form-search input{
    position: relative;
    background-color: var(--special-yellow);
    border: none;
    outline-offset: 0px;
    opacity: 0.3;
    width: 160px;
}

.form-search input:hover{
    opacity: 0.6;
}

.form-search input:focus{
    opacity: 1;
    outline: none;
}

.search-button{
    padding: 15px 17px;
    background-color: inherit;
    text-transform: uppercase;
    color: var(--basic-black);
    border: 2px solid var(--basic-black);
    font-weight: 300;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: absolute;
    top: -15px;
    left: 200px;
}

.search-button::after{
    position: absolute;
    content: '';
    width: 284px;
    height: 2px;
    background-color: var(--basic-black);
    bottom: -2px;
    right: 0;
}

.search-button:hover,
.search-button:focus{
    background-color: var(--basic-black);
    color: var(--basic-white);
}

.search-button:active{
    color: var(--basic-white) 0.3;
    color: var(--basic-white);
}

.form-search:focus-within input + .search-button{
    opacity: 1;
}

.user-link{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 48px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 10px;
}

.user-link a{
    display: block;
}

.compare-link{
    margin: 0;
    padding-left: 25px;
    margin-left: auto;
    position: relative;
}

.compare-link::before{
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    background-image: url('../img/icon-chart-header.svg');
    background-repeat: no-repeat;
    top: 4px;
    display: block;
    background-repeat: no-repeat;
}

.basket-link{
    margin-left: 40px;
    padding-left: 25px;
    position: relative;
}

.basket-link::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-image: url('../img/basket.svg');
    background-repeat: no-repeat;
    left: 0;
    top: 4px;
    display: block;
    background-repeat: no-repeat;
}

.user-link a{
    color: var(--basic-black);
    line-height: 20px;
}

.user-link a:hover,
.user-link a:focus{
    opacity: 0.6;
}

.user-link a:active{
    opacity: 0.3;
}

.navigation-list,
.catalog-list,
.login-list{
    list-style: none;
    padding: 0; 
    margin: 0;
}

.login-list{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 250px;
}

.user-name{
    margin-right: 30px;
}

.login-item:nth-child(2){
    opacity: 0.3;
 }

 .login-item:nth-child(2):hover,
 .login-item:nth-child(2):focus{
    opacity: 0.6;
 }

.login-item:nth-child(1) a{
     position: relative;
     padding-left: 25px;
}

.login-item:nth-child(1) a::before{
   content: '';
   position: absolute;
   width: 13px;
   height: 14px;
   background-image: url('../img/icon-user.svg');
   top: 4px;
   left: 0;
   display: block;
   background-repeat: no-repeat;
}

.navigation-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.navigation-link{
    padding-right: 35px;
    position: relative;
}

.navigation-link::before{
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url('../img/icon-plus.svg');
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    display: block;
    background-repeat: no-repeat;
}

.navigation-item{
    margin-right: 30px;
}

.navigation-item:nth-child(1){
    margin-right: 289px;
    cursor: pointer;
}

.navigation-item:nth-child(2){
    margin: 0;
    margin-right: 34px;
}

.navigation-item:nth-child(3){
    margin: 0;
    margin-right: 101px;
}

.navigation-item:nth-child(4){
    margin: 0;
}

.navigation-item a:hover,
.navigation-item a:focus{
    opacity: 0.6;
}

.navigation-item a:active{
    opacity: 0.3;
}

.navigation-list{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.catalog-list{
    position: absolute;
    font-family: 'Open Sans';
    text-transform: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    z-index: 1;
    width: 1160px;
    height: 165px;
    padding-left: 60px;
    padding-top: 33px;
    padding-right: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    background-color: var(--special-yellow);
    letter-spacing: 0;
    left: 0px;
    display: none;
}

.navigation-item:focus-within .catalog-list,
.navigation-item:hover .catalog-list,
.navigation-item:focus .catalog-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.catalog-item{
    margin-bottom: 25px;
    margin-right: 61px;
}

.catalog-item:nth-child(3n){
    margin-bottom: 20px;
}

.catalog-item:nth-child(5){
    margin-bottom: 50px;
}

.catalog-item a:hover,
.catalog-item a:focus{
    opacity: 0.6;
}

.catalog-item a:active{
    opacity: 0.3;
}

.navigation-item a{
    color: var(--basic-black);
}

/*Демонстрация товаров*/
.product{
    position: relative;
    margin-bottom: 100px;
}

.product-button-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 0;
    position: absolute;
    right: 88px;
    bottom: 135px;
    z-index: 1;
}

.product-button-list li{
    margin-right: 17px;
}

.product-botton{
    position: relative;
    height: 12px;
    background-color: transparent;
    border: 1px solid var(--basic-black);
    border-radius: 100px;
    cursor: pointer;
}

.product-button--active::before{
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    border: 1px solid var(--basic-black);
    border-radius: 50%;
    top: 15%;
    left: 25%;
    display: block;
    background-repeat: no-repeat;
}

.product-item{
    display: none;
}

.product-item.product-item--active{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    position: relative;
}

.product-item:nth-child(1)::before{
    position: absolute;
    content: '01';
    right: 47px;
    top: 0px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.product-item:nth-child(2)::before{
    position: absolute;
    content: '02';
    right: 47px;
    top: -20px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}
.product-item:nth-child(3)::before{
    position: absolute;
    content: '03';
    right: 47px;
    top: -20px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 179px;
    line-height: 219px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.product-list{
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    background-image: -o-linear-gradient(  var(--special-yellow) 155px, var(--basic-white) 30px);
    background-image: linear-gradient(  var(--special-yellow) 155px, var(--basic-white) 30px);
    margin-top: -40px;
}

.product-item-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.product-item--header{
    position: relative;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    margin: 0;
    margin-top: 115px;
}

.product-item--header::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 7px;
    background-color: var(--basic-white);
    top: -58px;
    display: block;
    background-repeat: no-repeat;
}

.product-specifications-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 52px;
    width: 445px;
}
.product-item--text{
    margin: 0;
    margin-top: 30px;
}


.product-specification-item{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: lighter;
    letter-spacing: 0.1em;
    margin-right: 60px;
    display: flex;
    flex-direction: column-reverse;
}

.product-specification-item:nth-child(3n){
    margin: 0;
}

.product-specification-item dd{
    font-size: 36px;
    line-height: 42px;
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
}

.product-specification-item dt{
    font-size: 13px;
    line-height: 15px;  
    margin: 0;

}

.product-item--botton-detail{
    margin-top: 45px;
    width: 220px;
    
}

/*Категории товаров*/

.product-category{
    margin-bottom: 70px;
}

.product-category-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.product-category-item:not(:nth-child(6n)){
    margin-right: 40px;
}

.product-category-link{ 
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    display: block;
    letter-spacing: 0.05em;
}

.product-img{
    width: 160px;
    height: 160px;
    background-color: var(--special-yellow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 38px;
}

.product-category-item{
    width: 160px;
}

.product-category-item:nth-child(4) span{
    letter-spacing: normal;
}

.product-category-link:hover .product-img,
.product-category-link:focus .product-img{
    background-color: var(--special-yellow-dark);
}

.product-category-link:active, 
.product-category-link:active .product-img{
    opacity: 0.6;
}

/*Преимущества*/
.advantages{
    background-color: var(--basic-grey-light);
    background-image: -o-linear-gradient(  var(--basic-white) 110px, var(--basic-grey-light) 110px);
    background-image: linear-gradient(  var(--basic-white) 110px, var(--basic-grey-light) 110px);
}

.advantages-conteiner{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 130px;
    padding-top: 85px;
}

.advantages-button-list,
.advantages-slid-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.advantages-button-list{
    width: 284px;
    position: relative;
}

.advantages-button-list::before{
    position: absolute;
    content: '';
    height: 320px;
    width: 7px;
    background-color: var(--basic-black);
    top: -80px;
    right: 0;
    display: block;
    background-repeat: no-repeat;
}

.advantages-button--active.button::before{
    width: 0%;
    height: 0px;
}

.advantages-button{
    width: 160px;
    cursor: pointer;
}

.advantages-button--active{
    background-color: var(--basic-black);
    color: var(--special-yellow);
    padding-left: 19px;
    width: 100%;
    text-align: left;
}

.advantages-button.button:not(.advantages-button--active){
    background-color: rgba(255, 255, 255, 0.0);
}

.advantages-button-list li:not(:last-child){
    margin-bottom: 20px;
}

.advantages-slid-list{
    margin-left: 17px;
}

.advantages-slid-item{
    display: none;
}

.advantages-slid-item p{
    padding: 0;
    margin: 0;
}

.advantages-slid-item.advantages-slid-active{
    display: block;
}

.advantages-slid-item{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.advantages-slid-item:nth-child(1)::before{
    position: absolute;
    content: '';
    width: 136px;
    height: 164px;
    background-image: url('../img/delivery.svg');
    right: 0px;
    top: 0px;
    display: block;
    background-repeat: no-repeat;
}

.advantages-slid-item:nth-child(2)::before{
    position: absolute;
    content: '';
    width: 171px;
    height: 195px;
    background-image: url('../img/advantages-slide2.svg');
    right: 0px;
    top: 0px;
    display: block;
    background-repeat: no-repeat;
}

.advantages-slid-item:nth-child(3)::before{
    position: absolute;
    content: '';
    width: 156px;
    height: 188px;
    background-image: url('../img/advantages-slide3.svg');
    right: 0px;
    top: 0px;
    display: block;
    background-repeat: no-repeat;
}

.advantages-slid-item h3{
    font-weight: 800;
    font-size: 47px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    letter-spacing: 0.2em;
    margin: 0;
    line-height: 58px;
    margin-top: 0px;
    margin-bottom: 44px;
}

.advantages-slid-item p{
    font-size: 15px;
    line-height: 28px;
    width: 495px;
    letter-spacing: 0.1em;
}

    /*Партнеры*/
.partners-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 90px;
    padding-bottom: 90px;
}

.partners-link{
    -webkit-filter: grayscale(100);
            filter: grayscale(100);
    opacity: 0.3;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.partners-list li:not(:nth-child(4n)){
    margin-right: 40px;
}

.partners-link:hover,
.partners-link:focus{
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
    opacity: 1;
}

    /*О нас*/

.contact-info{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-bottom: 84px;
}

.about-header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    font-family: 'Gilroy', 'Arial', sans-serif;
    padding-top: 50px;
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    margin-bottom: 41px;
}

.about-header::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
    top: -7px;
    left: 0;
}

.about p{
    width: 473px;
    font-size: 15px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
}

.about p:nth-child(3){
    margin-bottom: 58px;
}

.about-list{
    list-style: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;  
    font-family: 'Gilroy', 'Arial', sans-serif;
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
}

.about-item:not(:last-child){
    margin-bottom: 15px;
}

.about-item{
    position: relative;
    padding-left: 30px;
}

.about-item::before{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid var(--basic-grey-light);
    left: 0;
    top: 8px;
    border-radius: 50%;
}

.about-button{
    width: 260px;
}

    /*Контакты*/

.contacts{
    position: relative;
}

.contacts-header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    letter-spacing: 0.2em;
    font-family: 'Gilroy', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    margin-bottom: 41px;
    padding-top: 50px;
    position: relative;
}

.contacts-header::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 7px;
    background-color: var(--basic-black);
    top: -5px;
    left: 0;
}

.contacts-text{
    font-size: 15px;
    line-height: 28px;
    width: 510px;
    margin-bottom: 40px;
}

.contacts-maps{
    margin-bottom: 75px;
    display: block;
}

.contacts-maps img{
    display: block;
}

.contacts-button{
    width: 260px;
}

    /*Повдвал*/

.main-footer{
    background-color: var(--basic-dark);
    padding-top: 40px;
    padding-bottom: 64px;
}

.footer-logo{
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    margin-bottom: 30px;
    display: block;
    width: 163px;
}
.footer-logo:hover,
.footer-logo:focus{
    opacity: 0.7;
}

.footer-logo:active{
    opacity: 0.3;
}

.user-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-left: 163px;
}


.user-social a{
    color: var(--basic-white);
    color: rgba(255, 255, 255, 0.7);
}


.user-social a:hover,
.user-social a:focus{
    color: rgba(255, 255, 255, 1);
}

.user-social a:hover::before,
.user-social a:focus::before{
    opacity: 0.6;
}

.user-social a:active{
    color: rgba(255, 255, 255, 0.3);
}

.user-social a:active::before{
    opacity: 0.3;
}

.user-social a{
    display: block;
}

.footer-login-item:nth-child(1) a{
    position: relative;
    padding-left: 22px;
    margin-right: 22px;
}



.footer-login-item:nth-child(1) a::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 14px;
    background-image: url('../img/footer-icon-user.svg');
    left: 0;
    top: 4px;
    display: block;
    background-repeat: no-repeat;
}

.footer-compare-link{
    padding-left: 22px;
    position: relative;
    margin-right: 40px;
}

.footer-compare-link::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 14px;
    background-image: url('../img/icon-chart.svg');
    left: 0;
    top: 4px;
    display: block;
    background-repeat: no-repeat;
}

.footer-basket-link{
    padding-left: 22px;
    position: relative;
}

.footer-basket-link::before{
    position: absolute;
    content: '';
    width: 13px;
    height: 14px;
    background-image: url('../img/footer-icon-cart.svg');
    left: 0;
    top: 6px;
    display: block;
    background-repeat: no-repeat;
}



.footer-login-list{
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 22px;
}

.footer-login-list li:nth-child(2){
    margin-right: 25px;
}

.footer-row-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 67px;
}

.footer-row-one p{
    color: var(--basic-white);
    padding: 0;
    margin: 0;
}

.footer-row-one-info{
    list-style: none;
    font-family: 'Gilroy', 'Arial', sans-serif;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    width: 465px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    letter-spacing: 0.2em;
}

.footer-row-one-info li:not(:nth-child(3n)){
    margin-right: 36px;
}

.footer-row-one-info a{
    color: var(--basic-white);
}

.footer-row-one-info a:hover,
.footer-row-one-info a:focus{
    opacity: 0.7;
}

.footer-row-one-info a:active{
    opacity: 0.3;
}

.contacts-tel{
    color: var(--basic-white);
}

.footer-social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.footer-social::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 7px;
    background-color:var(--special-yellow-dark-100);
    top: 35%;
    display: block  ;
}

.footer-social-list{
    width: 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: auto;
}

.footer-social-list a{
    display: block;
    width: 32px;
    height: 32px; 
}

.footer-social-list li{
    width: 32px;
    height: 42px;
    margin-right: 20px;
}

.footer-social-list li:nth-child(3n){
    margin-right: 0px;
}

.facebook::before{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/icon-facebook.svg');
    display: block;
    background-repeat: no-repeat;
}

.instagram::before{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/icon-instagram.svg');
    display: block;
    background-repeat: no-repeat;
}

.twitter::before{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/icon-twitter.svg');
    display: block;
    background-repeat: no-repeat;
}

.social-link{
    position: relative;
    opacity: 0.3;
}

.social-link:hover,
.social-link:focus{
    opacity: 1;
}

.social-link:active{
    opacity: 0.1;
}

.logo-academy{
    display: block;
    width: 27px;
    margin-left: 483px;
}

.logo-academy:hover,
.logo-academy:focus{
    opacity: 0.7;
}

.logo-academy:active{
    opacity: 0.3;
}


    /*КАТАЛОГ*/

    /*Главная*/
.login-link-out{
    opacity: 0.3;
}

.breadcrumbs{
    padding-left: 60px;
    padding-right: 60px;
}

.breadcrumbs h1{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 47px;
    margin: 0;
    padding: 0;
    margin-top: 44px;
    margin-bottom: 30px;
    line-height: 57px;
}

.navigation-catalogue{
    list-style: none;
    padding: 0;
}

.navigation-catalogue{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 50px;
}

.navigation-catalogue-item{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    margin-right: 40px;
    position: relative;
}

.navigation-catalogue-item::after{
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background-image: url('../img/icon-arrow-nav.svg');
    right: -28px;
    top: 2px;
    display: block;
    background-repeat: no-repeat;
}

.navigation-catalogue-item:last-child{
    margin: 0;
    opacity: 0.3;
}

.navigation-catalogue-item:last-child::after{
    width: 0;
}

.navigation-catalogue-item a{
    color: var(--basic-black);
    opacity: 0.3;
}

.navigation-catalogue-item a:hover,
.navigation-catalogue-item a:focus{
    opacity: 0.6;
}

.navigation-catalogue-item a:active{
    opacity: 0.1;
}

    /*Каталог-сортировка*/
.catalog-association{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.filtr{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    background-color: var(--basic-grey-light);
}

.filtr-form{
    margin: 0;
    padding: 0;
}

.filtr-color{
    background-color: var(--basic-grey-100);    
}

.filtr-wraper{
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: auto;
    width: 347px;
    padding-left: 79px;

}

.filtr-wraper h2{
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.filtr-form fieldset{
    border: none;
    margin: 0;
    padding: 0;
}

.filtr-form{
    border: none;
    display: block;
    width: 347px;
    padding-left: 79px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: auto;

}

.range-filter{
    width: 100%;
}

.range-conrols{
    position: relative;
}

.range-conrols .scale{
    width: 200px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-bottom: 17px;
}

.range-conrols .bar{
    width: 112px;
    height: 2px;
    background-color: var( --special-green);
}

.range-conrols .toggle{
    position: absolute;
    top: -10px;
    left: 0;
    cursor: pointer;
    width: 4px;
    height: 4px;
    border: 8px solid var(--basic-white);
    background-color: var(--basic-half-400);
    border-radius: 50%;
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.18);
}

.range-conrols .toggle-min{
    left: 0;
}

.range-conrols .toggle-max{
    left: 112px;
}

.price-controls input{
    width: 55px;
    border: none;
    background-color: inherit;
    font-size: 14px;
    font-family: 'Gilroy', 'Arial', sans-serif;
}

.price-controls input{
    width: 55px;
    border: none;
    background-color: inherit;
    font-size: 14px;
    font-family: 'Gilroy', 'Arial', sans-serif;
}

.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.filtr-form legend{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    margin-bottom: 32px;
    padding-top: 17px;
    position: relative;
}

.filtr-form legend::before{
    position: absolute;
    content: '';
    width: 200px;
    height: 2px;
    background-color: var(--basic-black);
    top: 0;
    border-radius: 2px;
}

.filtr-form fieldset:nth-child(1){
    margin-bottom: 34px;
    margin-top: 70px;
}

.choice-color,
.specifications{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    position: relative;
}

.choice-color li,
.specifications li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.choice-color-item label,
.specifications label{
    cursor: pointer;
    padding-left: 42px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.choice-color-item label:hover,
.choice-color-item:focus-within label{
    opacity: 0.6;
}

.choice-color-input:disabled + label{
    opacity: 0.3;
}

.choice-color-item:not(:last-child){
    margin-bottom: 12px;
}

.choice-color-item:last-child{
    margin-bottom: 35px;
}

.choice-color-input + label::before{
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    border: 2px solid var(--basic-black);
    border-radius: 2%;
    left: 0px;
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
}

.choice-color-input:checked + label::after{
    position: absolute;
    content: '';
    background-image: url('../img/icon-check.svg');
    width: 18px;
    height: 18px;
    left: 2px;
    top: 2px;
    background-repeat: no-repeat;
}

.specifications-item:not(:last-child){
    margin-bottom: 12px;
}

.specifications-item label:hover,
.specifications-item:focus-within label{
    opacity: 0.6;
}


.specifications-input:disabled + label{
    opacity: 0.3;
}

.specifications-input + label::before{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid var(--basic-black);
    border-radius: 50%;
    left: 0px;
    bottom: 0;
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
}

.specifications-input:checked + label::after{
    position: absolute;
    content: '';
    width: 8px;
    height: 8px;
    left: 7px;
    top: 2px;
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
    background-color: var(--basic-black);
    border-radius: 50%;
}

.filter-button{
    background-color: var(--basic-grey-light);
    width: 200px;
    margin-top: 35px;
}

    /*Каталог товаров*/
.catalogue{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}

.catalogue-sort-wraper{
    width: 851px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 25px 72px;
    padding-right: 20px;
    box-sizing: border-box;
}

.catalogue-sort h3{
    margin: 0;
    padding: 0;
    margin-right: 74px;
    text-transform: uppercase;
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
}

.catalogue-sort{
    list-style: none;
    padding: 0;
    font-weight: 400;
    background-color: var( --basic-grey-light); 
}

.catalogue-sort-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-right: 220px;
    width: 290px;
}

.catalogue-sort-list li{
    margin-right: 30px;
}

.catalogue-sort-list li:last-child{
    margin-right: 0;
}

.catalogue-sort-list a{
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
    color: var(--basic-black);
}

.catalogue-sort-list .sort-active{
    opacity: 1;
}

.catalogue-sort-list a:hover,
.catalogue-sort-list a:focus{
    opacity: 0.6;
}

.catalogue-sort-list a:active{
    opacity: 1;
}

.catalogue-sort-links{
    position: relative;
    width: 46px;
}

.dir-up{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../img/icon-up-dir.svg');
    left: 0;
    cursor: pointer;
    opacity: 0.2;
    display: block;
    background-repeat: no-repeat;
}

.dir-up:hover,
.dir-up:focus{
    opacity: 0.4;
}

.dir-up:active{
    opacity: 1;  
}

.dir-down{
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    background-image: url('../img/icon-down-dir.svg');
    right: 0;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.dir-down:hover,
.dir-down:focus{
    opacity: 0.4;
}

.dir-down:active{
    opacity: 1;
}

.catalogue-list{
    width: 760px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 73px;
    margin-top: 69px;
    margin-right: 0;
}

.catalogue-item{
    position: relative;
    margin-bottom: 40px;
    z-index: 1;
}

.new-product::before{
    position: absolute;
    content: '';
    width: 62px;
    height: 62px;
    background-image: url('../img/new.svg');
    top: 29px;
    right: 27px;
    display: block;
    background-repeat: no-repeat;
}

.catalogue-item img{
    margin-bottom: 28px;
}

.catalogue-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.catalogue-item-info h3{
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.05em;
    font-family: 'Gilroy', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    width: 270px;
}

.catalogue-item-info a{
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.catalogue-item-info p{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
}

.catalogue-item-popup a:nth-child(2){
    color: var(--basic-black);
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

.catalogue-item-popup{
    position: absolute;
    content: '';
    width: 100%;
    height: 380px;
    top: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: rgba(238, 238, 238, 0.7);
    z-index: -1;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.catalogue-item-popup .button{
    width: 200px;
    text-align: center;
}

.catalogue-item-popup a:nth-child(2){
   -webkit-transform: translateY(20px);
       -ms-transform: translateY(20px);
           transform: translateY(20px);
   opacity: 0.5;
   letter-spacing: 0.1em;
   z-index: 3;
}

.catalogue-item-popup a:nth-child(2):hover,
.catalogue-item-popup a:nth-child(2):focus{
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
}

 .catalogue-item-popup a:nth-child(2):active{
    -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0.2;
 }

.catalogue-item:focus-within .catalogue-item-popup,
.catalogue-item:hover .catalogue-item-popup,
.catalogue-item:focus .catalogue-item-popup{
    opacity: 1;
    z-index: 2;
}


    /*Хлебные крошки*/
.pagination{
    width: 760px; 
    background-color: var( --basic-half-200);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 73px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 82px;
}

.pagination a{
    color: var(--basic-black);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 25px 30px;
}

.pagination-item--active{
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-item a{
    padding: 0;
    opacity: 0.3;
}

.pagination-item a:hover,
.pagination-item a:focus{
    padding: 0;
    opacity: 0.6;
}

.pagination-item a:active{
    padding: 0;
    opacity: 1;
}

.pagination-item:not(:last-child){
    margin-right: 30px;
}

.pagination-item a{
    opacity: 0.3;
}

.pagination-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.pagination-back:hover,
.pagination-back:focus{
    background-color: var( --basic-half-100);
}

.pagination-back:active{
    opacity: 0.3;
}

.pagination-next:hover,
.pagination-next:focus{
    background-color: var( --basic-half-100);
}

.pagination-next:active{
    opacity: 0.3;
}

.modal{
    width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -285px 0 0 -485px;
    z-index: 999;
    display: none;
}

.modal-forms{
    padding: 92px 100px;
    padding-bottom: 69px;
    -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
    background-color: var(--basic-white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

@-webkit-keyframes formanim{
    0% {-webkit-transform: translateX(-1000px);transform: translateX(-1000px);}
    20%{-webkit-transform: translateX(30px);transform: translateX(30px);}
    30% {-webkit-transform: translateX(-30px);transform: translateX(-30px);} 
    40% {-webkit-transform: translateY(0px);transform: translateY(0px);} 
}

@keyframes formanim{
    0% {-webkit-transform: translateX(-1000px);transform: translateX(-1000px);}
    20%{-webkit-transform: translateX(30px);transform: translateX(30px);}
    30% {-webkit-transform: translateX(-30px);transform: translateX(-30px);} 
    40% {-webkit-transform: translateY(0px);transform: translateY(0px);} 
}

.modal-form-showe{
    display: block;
    -webkit-animation-name: mapanim;
            animation-name: mapanim;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes eror{
    0% {-webkit-transform: translateX(-30px);transform: translateX(-30px);}
    20%{-webkit-transform: translateX(30px);transform: translateX(30px);}
    30% {-webkit-transform: translateX(-20px);transform: translateX(-20px);} 
    40% {-webkit-transform: translateX(20px);transform: translateX(20px);} 
    60% {-webkit-transform: translateX(-10px);transform: translateX(-10px);} 
    80% {-webkit-transform: translateX(10px);transform: translateX(10px);} 

}

@keyframes eror{
    0% {-webkit-transform: translateX(-30px);transform: translateX(-30px);}
    20%{-webkit-transform: translateX(30px);transform: translateX(30px);}
    30% {-webkit-transform: translateX(-20px);transform: translateX(-20px);} 
    40% {-webkit-transform: translateX(20px);transform: translateX(20px);} 
    60% {-webkit-transform: translateX(-10px);transform: translateX(-10px);} 
    80% {-webkit-transform: translateX(10px);transform: translateX(10px);} 

}

.modal-form-eror{
    -webkit-animation-name: eror;
            animation-name: eror;
    -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
}

.input-name.eror-input{
    background-color: var(--crimson);
}
.input-email:invalid{
    background-color: var(--crimson);
}
.letter.eror-input{
    background-color: var(--crimson);
}

.modal-map{
    height: 560px;
    -webkit-box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
    background-color: var(--basic-white);
}

@-webkit-keyframes mapanim{
    0% {-webkit-transform: translateX(-1000px);transform: translateX(-1000px);}
    20%{-webkit-transform: translateX(30px);transform: translateX(30px);}
    30% {-webkit-transform: translateX(-30px);transform: translateX(-30px);} 
    40% {-webkit-transform: translateY(0px);transform: translateY(0px);} 
}

@keyframes mapanim{
    0% {-webkit-transform: translateX(-1000px);transform: translateX(-1000px);}
    20%{-webkit-transform: translateX(30px);transform: translateX(30px);}
    30% {-webkit-transform: translateX(-30px);transform: translateX(-30px);} 
    40% {-webkit-transform: translateY(0px);transform: translateY(0px);} 
}

.modal-map-showe{
    display: block;
    -webkit-animation-name: mapanim;
            animation-name: mapanim;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
}

.modal-form label{
    font-family: 'Gilroy', 'Arial', sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 10px;
}

.input-form{
    width: 360px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 2px solid var(--basic-white);
    background-color: var(--dark-white);
    outline: none;
}

.input-form:hover,
.input-form:focus{
    background-color: var(--basic-silver-white);
}

.input-form:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--special-yellow);
}

.modal-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.modal-form p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
}

.modal-form p:nth-child(3){
    margin-top: 32px;
}

.letter{
    width: 100%;
    height: 167px;
    resize: none;
    border: 2px solid var(--basic-white);
    background-color: var(--dark-white);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px 16px;
    outline: none;
}

.letter:hover,
.letter:focus{
    background-color: var(--basic-silver-white);
}

.letter:focus{
    background-color: var(--basic-white);
    border: 2px solid var(--special-yellow);
}

.button-form{
    width: 200px;
    background-color:var(--basic-white);
    margin-top: 54px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.close-modal{
    position: absolute;
    content: '';
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--special-yellow-dark);
    background-image: url('../img/icon-cross.svg');
    background-repeat: no-repeat;
    background-position: 13px 12px;
    opacity: 0.5;
    cursor: pointer;
    right: 20px;
    top: 28px;
    border: none;
    outline: none;
}

.close-modal:hover,
.close-modal:focus{
    opacity: 1;
}

.close-modal:active{
    opacity: 0.3;
}
