:root{
    --basic-black: #000;
    --basic-dark: #363636;
    --basic-white: #ffffff;
    --basic-grey: #464646;
    --basic-half-100: #D9D9D9;
    --basic-half-200: #EBEBEB;
    --basic-half-300: #7E7E7E;
    --basic-grey-light: #E5E5E5;
    --special-yellow:  #F7E296;
    --special-green: #91C92F;
    --special-yellow-dark:#F0C52E;


}

body{
    min-width: 1160px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    background-color: var(--basic-white);
    color: var(--basic-black);
    transform: translateY();
}

a{
    text-decoration: none;
}

/*ГЛАВНАЯ*/

/*main-header*/
.main-navigation{
    background-color: var(--special-yellow);
}

.header-logo:hover{
    opacity: 0.6;
}

.header-logo:active{
    opacity: 0.3;
}

.user-link a{
    color: var(--basic-black);
    line-height: 20px;
}

.user-link a:hover{
    opacity: 0.6;
}

.user-link a:active{
    opacity: 0.3;
}

.navigation-list,
.catalog-list,
.login-list{
    list-style: none;
    padding: 0; 
}

.navigation-item a:hover{
    opacity: 0.6;
}

.navigation-item a:active{
    opacity: 0.3;
}

.navigation-list{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.catalog-list{
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    display: none;
}

.catalog-item a:hover{
    opacity: 0.6;
}

.catalog-item a:active{
    opacity: 0.3;
}

.navigation-item a{
    color: var(--basic-black);
}

/*Демонстрация товаров*/

.product__botton-list{
    list-style: none;
    padding: 0;
}

.product__list{
    list-style: none;
    padding: 0;
}

.product__item--header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.button{
    display: block;
    background-color: var(--special-yellow-dark);
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    border: none;
}

.product-specification__item dt{
    font-size: 36px;
    line-height: 42px;
}

.product-specification__item dd{
    font-size: 13px;
    line-height: 15px;
    margin: 0;
}

/*Категории товаров*/

.product-category__list{
    list-style: none;
    padding: 0;
}

.product-category__link{
    color: var(--basic-black);
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
}

.product-img{
    width: 150px;
    height: 150px;
    background-color: var(--special-yellow);
}

.product-category__link:hover .product-img{
    background-color: var(--special-yellow-dark);
}

.product-category__link:active, 
.product-category__link:active .product-img{
    opacity: 0.6;
}

/*Преимущества*/
.advantages{
    background-color: var(--basic-grey-light);
}

.advantages__button-list,
.advantages__slid-list{
    list-style: none;
    padding: 0;
}

.advantages__button--active{
    background-color: var(--basic-black);
    color: var(--special-yellow);
}

.advantages__slid-item h3{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.advantages__slid-item p{
    font-size: 15px;
    line-height: 28px;
}

/*Партнеры*/
.partners__list{
    list-style: none;
    padding: 0;
}

.partners__link{
    opacity: 0.6;
}

.partners__link:hover{
    opacity: 1;
}

/*О нас*/

.about__header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.about__header p{
    font-size: 15px;
    line-height: 28px;
}

.about__list{
    list-style: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 28px;
}

/*Контакты*/

.contacts__header{
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
}

.contacts__text{
    font-size: 15px;
    line-height: 28px;
}

/*Повдвал*/

.main-footer{
    background-color: var(--basic-dark);
}

.footer__logo:hover{
    opacity: 0.7;
}

.footer__logo:active{
    opacity: 0.3;
}

.footer__user-link ul{
    list-style: none;
    padding: 0;
}

.footer__user-link a:not(.footer__logo){
    color: var(--basic-white);
    opacity: 0.7;
}

.footer__user-link a:hover:not(.footer__logo){
    opacity: 1;
}

.footer__user-link a:active{
    opacity: 0.3;
}

.footer__row-one p{
    color: var(--basic-white);
}

.footer__row-one-info{
    list-style: none;
    padding: 0;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.footer__row-one-info a{
    color: var(--basic-white);
}

.footer__row-one-info a:hover{
    opacity: 0.7;
}

.footer__row-one-info a:active{
    opacity: 0.3;
}

.contacts-tel{
    color: var(--basic-white);
}

.footer__social-list{
    list-style: none;
    padding: 0;
}

.logo-academy:hover{
    opacity: 0.7;
}

.logo-academy:active{
    opacity: 0.3;
}


/*КАТАЛОГ*/

/*Главная*/

.login-link__out{
    opacity: 0.3;
}

.navigation-catalogue{
    list-style: none;
    padding: 0;
}

.navigation-catalogue a{
    opacity: 0.4;
    font-size: 14px;
    line-height: 19px;
    color: var(--basic-black);
}

.navigation-catalogue a:hover{
    opacity: 0.7;
}

.navigation-catalogue a:active{
    opacity: 0.1;
}

/*Каталог-сортировка*/

.catalogue-filtr h3{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.catalogue__sort{
    list-style: none;
    padding: 0;
    font-weight: 400;
}

.catalogue__sort-list{
    list-style: none;
    padding: 0;
}

.catalogue__sort a{
    font-size: 14px;
    line-height: 19px;
    opacity: 0.3;
    color: var(--basic-black);
}

.catalogue__sort a:hover{
    opacity: 0.6;
}

.catalogue__sort a:active{
    opacity: 1;
}

.catalogue__list{
    list-style: none;
    padding: 0;
}

.catalogue__item-info a{
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: var(--basic-black);
}

.catalogue__item-info p{
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.05em;
}

.catalogue__item-popup a:nth-child(2){
    color: var(--basic-black);
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

/*Хлебные крошки*/
.pagination{
    background-color: var( --basic-half-200);
}

.pagination a{
    color: var(--basic-black);
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-item--active{
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.pagination-item a{
    opacity: 0.3;
}

.pagination-list{
    list-style: none;
    padding: 0;
}

.pagination-back:hover{
    background-color: var( --basic-half-100);
}

.pagination-back:active{
    opacity: 0.3;
}

.pagination-next:hover{
    background-color: var( --basic-half-100);
}

.pagination-next:active{
    opacity: 0.3;
}





